
/*
Cards
*/
.card{
    border:1px solid $neutral-400;
    border-radius: 0.75rem;
    &.border-right-radius-0{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.border-left-radius-0{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &.border-left-0{
        border-left: 0;
    }
    .card-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 3rem;
        .heading{
            margin:0;
            font-size: 1rem;
        }
    }
    .card-body{
        padding:1rem;
    }
    .info-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p{
            margin:0;
            font-size: 0.875rem;
            font-weight: $regular;
        }
        p.label{
            font-size: 0.75rem;
            margin-bottom:0.25rem;
        }
    }
    .sub-header{
        background-color: $neutral-50;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left:-1rem;
        margin-right:-1rem;
        margin-top:0.75rem;
        margin-bottom:0.5rem;
        padding:0.5rem;
        .title{
            margin:0;
            font-size:0.875rem;
            font-weight: $medium;
        }
    }
    &.card-style-1{
        border-color:#B4DDE4;
        background-color: #fff;
        .card-header{
            background-color: #ECF6F8;
        }
        p{
            color:#301E03;
            &.label{
                color:#C77905;
            }
        }
        .sub-header{
            background-color: #FFF3E0;
            .title{
                color: #C77905;
            }
        }
    }
    &.card-style-2{
        border-color: #f7e1c0;
        background-color: #fffefb;
        p{
            color:#301E03;
            &.label{
                color:#C77905;
            }
        }
        .sub-header{
            background-color: #FFF3E0;
            .title{
                color: #C77905;
            }
        }
    }
    
}

/* Card 3d Start */
.card-3d{
    border: 2px solid #368796;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25), 0px 5px 0px #368796, 0px 12px 18px -8px rgba(62, 123, 108, 0.5);
    border-radius: 0.75rem;
    background: #FBFDFE;  
    .card-3d-wrapper{
        background: #FBFDFE;
        border: 1px solid #B4DCE4;
        box-shadow: inset 0px 0px 0.875rem #B7DFE6;
        border-radius: 0.5rem;
    }
    .card-3d-header{
        background-color: $primary-50;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding:0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-control, .form-select {
        padding: 0.469rem 0.75rem;
    }
}
/* Card 3D End */

//Card 3d-2
.card-3d-2{
    background: linear-gradient(180deg, #FAFFFE 57.81%, #C2E9E0 100%);
    border: 2px solid #368796;
    box-shadow: 0px 5px 0px #368796, 0px 1rem 1.75rem -0.5rem #3E7B6C;
    border-radius: 0.75rem;
    padding-bottom:1rem;
    padding:0.5rem;
    .card-3d-heading{
        background: linear-gradient(180deg, #368796 0%, rgba(65, 166, 184, 0.91) 100%);
        border-radius: 0px 0.5rem 0px 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0.5rem 0.25rem;
        margin-top:-0.5rem;
        margin-right:-0.5rem;
        h4{
            color:#ECF6F8;
            font-size: 1rem;
            font-weight: $semibold;
            margin-bottom: 0;
        }
    }
    .card-3d-wrapper{
        background: #FBFDFE;
        border: 1px solid #B4DCE4;
        box-shadow: inset 0px 0px 0.875rem #B7DFE6;
        border-radius: 0.5rem;
        .wrapper-header{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background:#ECF6F8;
            border-bottom: 1px solid #B4DCE4;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            gap:0.5rem;
            padding:0.25rem 0.5rem;
            flex-wrap: wrap;
            h4{
                color:#368796;
                font-size: 1rem;
                margin-bottom:0;
            }
        }
        .wrapper-container{
            overflow: auto;
        }
    }
    .display-details{
        display: flex;
        align-items: center;
        flex-direction: column;
        h4,p{
            color:$primary-700;
            font-weight: $semibold;
            margin:0;
            padding:0;
            font-size: 1rem;
        }
        h4{
            font-size: 1.75rem;
        }
    }
    .row-items{
        &.row-items-fill{
            background-color: $primary-50;
            border:0;
            padding:0.75rem;
            border-radius: 0.375rem;
        }
        &.selected{
            box-shadow: inset 0px 0px 8px #2D8772;
        }
    }
    .btn{
        width: calc(100% - 0.5rem);
        position: relative;
        margin-bottom:0.125rem;
        &.btn-tab{
        min-height: 4.125rem;
        }
        &:last-child{
            margin-bottom: 0;
        }
        h4,p{
            color:#929EA0;
            z-index: 1;
            position: relative;
        }
        &.btn-select{
            background: linear-gradient(180deg, #FAFFFE 0%, #E5F3F0 100%);
            border-radius: 0.5rem;
            border:2px solid #52B9C0;
            h4,p{
                color:$primary-700;
            }
            &::before{
                content: '';
                position: absolute;
                width: calc(100% - 0.5rem);
                top: 0.25rem;
                left:0.25rem;
                right:0.25rem;
                height: 55%;
                background: linear-gradient(207.26deg, #EDF7F5 13.34%, rgba(255, 255, 255, 0.8) 83%);
                border-radius: 0.4rem;
                opacity: 0.8;
            }
        }
    }
    
}

//Card 3d-3
.card-3d-3{
    background: linear-gradient(180deg, #FEFDFB 0%, #E9DEC2 100%);
    border: 2px solid #957A37;
    box-shadow: 0px 5px 0px #957A37, 0px 16px 28px -8px #876F32;
    border-radius: 0.75rem;
    padding-bottom:1rem;
    padding:0.5rem;
    .card-3d-heading{
        background: linear-gradient(180deg, #957A37 0%, #CF9B1B 100%);
        border-radius: 0px 0.5rem 0px 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0.5rem 0.25rem;
        margin-top:-0.5rem;
        margin-right:-0.5rem;
        h4{
            color:#ECF6F8;
            font-size: 1rem;
            font-weight: $semibold;
            margin-bottom: 0;
        }
    }
    .card-3d-wrapper{
        background: #FBFDFE;
        border: 1px solid #E3D6B5;
        box-shadow: inset 0px 0px 0.875rem #E5D8B8;
        border-radius: 0.5rem;
        .wrapper-header{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background:#F8F7F1;
            border-bottom: 1px solid #E3D6B5;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            gap:0.5rem;
            padding:0.25rem 0.5rem;
            flex-wrap: wrap;
            h4{
                color:#C77905;
                font-size: 1rem;
                margin-bottom:0;
            }
        }
        .wrapper-container{
            overflow: auto;
        }
    }
    .display-details{
        display: flex;
        align-items: center;
        flex-direction: column;
        h4,p{
            color:#C77905;
            font-weight: $semibold;
            margin:0;
            padding:0;
            font-size: 1rem;
        }
        h4{
            font-size: 1.75rem;
        }
    }
    .row-items{
        border:1px solid #E3D6B5  !important;
        background-color: #F9F7F0 !important;
        *{
            color: #C77905 !important;
        }
        &.border-left{
            border-left-width: 0.25rem !important;
        }
    }
    .btn{
        width: calc(100% - 0.5rem);
        position: relative;
        margin-bottom:0.125rem;
        &.btn-tab{
        min-height: 4.125rem;
        }
        &:last-child{
            margin-bottom: 0;
        }
        h4,p{
            color:#9A9484;
            z-index: 1;
            position: relative;
        }
        &.btn-select{
            background: linear-gradient(180deg, #FCFCFC 0%, #ECECEC 100%);;
            border-radius: 0.5rem;
            border:2px solid #B4A786;
            h4,p{
                color:#C77905;
            }
            &::before{
                content: '';
                position: absolute;
                width: calc(100% - 0.5rem);
                top: 0.25rem;
                left:0.25rem;
                right:0.25rem;
                height: 55%;
                background: linear-gradient(207.26deg, #F1F3F3 13.34%, rgba(255, 255, 255, 0.8) 83%);
                border-radius: 0.4rem;
                opacity: 0.8;
            }
        }
    }
    .table th{
            background-color: #F9F7F0 !important;
    }
}